body {
/*	font-size: 20px;
	line-height: 25px;
	color: #777777;
	font-family:'Arial','Helvetica Neue',  Helvetica, sans-serif;*/
	background-image:url(../images/space-004.jpg);
	color:#fff;
}
.jumbotron {
	background-image:url(../images/space-004.jpg);
	color:#bbb;
}
#bonusImage{
	width:100%;
	max-width:400px;
}