body {
	background-image:url(../images/BlueSpace-2.jpg);
	color:#fff;
}
.jumbotron {
	background-image:url(../images/space-004.jpg);
	color:#bbb;
}
#bonusImage{
	width:100%;
	max-width:400px;
}
#bonus-container {
	padding-left:25%;
	padding-right:3%;
}
#gamestart {
	padding-right:25%;
	padding-left:3%;
}
@media screen and (max-width:991px){
	#bonusImage{
		width:100%;
		max-width:200px;
	}
	h1 {
		font-size:24px;
	}
	#bonus-container {
	padding-left:15%;
	padding-right:1%;
	padding-bottom:2%;
	}
	#gamestart {
		padding-right:15%;
		padding-left:10%;
	}
}